<p><span style="font-size: 16pt;">Create stop location CSV</span></p>
<p><span style="font-size: 11pt;">In this notebook we project and clean up the 'df_stop_ID.csv' into a more workable csv file for the purpose of geolocation of public transport stops and stations.</span></p>

In [1]:
# We create a data frame from df_stop_ID.csv
import pandas as pd
df = pd.read_csv('Data\public transport stop ID\df_stop_ID.csv')
df.head()

,id,O,X,Y,U,L,B,p
0,id=A=1,O=Belair. Sacré-Coeur,X=6.113204,Y=49.610280,U=82,L=200403005,B=1,p=1547794313
1,id=A=1,O=Belair. Archiducs,X=6.112341,Y=49.612707,U=82,L=200403002,B=1,p=1547794313
2,id=A=1,O=Belair. Franciscaines,X=6.112970,Y=49.608275,U=82,L=200403007,B=1,p=1547794313
3,id=A=1,O=Belair. Amsterdam,X=6.108188,Y=49.612203,U=82,L=200403001,B=1,p=1547794313
4,id=A=1,O=Belair. Kierch,X=6.107613,Y=49.610702,U=82,L=200403010,B=1,p=1547794313

In [6]:
# We are only interested 'O' for stop names, 'X' for longitude, 'Y' for latitude at the moment so we project and clean the values
# in a new data frame
clean_df = pd.DataFrame({'Stop/Station Name': df['O'].str.replace('O=', ''),'Longitude': df['X'].str.replace('X=', ''),'Latitude': df['Y'].str.replace('Y=', '')})
clean_df.head()

       Stop/Station Name Longitude   Latitude
0    Belair. Sacré-Coeur  6.113204  49.610280
1      Belair. Archiducs  6.112341  49.612707
2  Belair. Franciscaines  6.112970  49.608275
3      Belair. Amsterdam  6.108188  49.612203
4         Belair. Kierch  6.107613  49.610702

In [10]:
# We can now take a look where those markers are in a map with folium, we will statrt by creating a map of Luxembourg and the
# surrounding region.
try:
    import folium
except:
    import pip
    pip.main(['install','folium'])
    import folium
import folium
map_Lux = folium.Map(location=[49.5259473,5.084417], width=9600, height=5000)
map_Lux

AttributeError: module 'pip' has no attribute 'main'